
  #container {
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
 
  ion-icon{
    color:rgb(49, 49, 49);
  }
  ion-checkbox{
    color:rgb(49, 49, 49);
  }
  h1{
    color: black;
  }
  cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
  }