<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      Tunicleany
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" >Tunicleany</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

 <div class="login-section">
  <img src="assets/Tunicleany.png" width="30%" height="30%" >
            <ion-item>
              <ion-icon name="mail-outline"></ion-icon>
            
             
              <ion-input placeholder="Email" type="email" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock-closed-outline"></ion-icon>
            
             
              <ion-input placeholder="Mot de passe" type="password" ></ion-input>
            </ion-item>
          
            <br>
        
            <ion-button color="success" fill="outline" routerLink="/acceuil">S'inscrire</ion-button>
            <br>
            <ion-button color="success" fill="outline" routerLink="/creercompter">Creer compte</ion-button>

             

          </div>
         
  </div>
  
    

</ion-content>
