#pen{
    display: inline-block;
    font-size: 35px;
    color: green;
    vertical-align: middle;
align-items: center;
width:90px ;
height: 90px;  }
ion-button{
    position: center;
    top: 40%;
    left: 40%;
  }
  ion-icon {
    color: green;
  }
  