#np{
  width: 90px; 
  height: 90px; 
  color: green;
}
ion-card-content{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
font-size:xx-large;}
ion-button{
  position: center;
  top: 40%;
  left: 40%;
}
ion-icon {
  color: green;
}
